

.cookieButton:hover {
    filter: drop-shadow(4px 5px 5px #000);
    transform: translateY(-0.25em);

  }

  .cookieButton {
  cursor: pointer;
  background-color: #A0BC8D;
  color: #21430A;
  border: 2px solid #A0BC8D;
  transition: 220ms all ease-in-out;
  padding: 20px 20px;
  font-family: monospace;
  font-weight: bold;

}
