

.Button1:hover {
  filter: drop-shadow(2px 8px 8px #000);
  transform: translateY(-0.25em);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

  }

  .Button1 {
    cursor: pointer;
    background-color: #A2C09C;
    color: #21430A;
    border: 2px solid #95B28F;
    transition: 220ms all ease-in-out;
    padding: 20px 20px;
    font-family: monospace;
    font-weight: bold;

}

.Button2:hover {
  filter: drop-shadow(4px 5px 5px #C3C3C3);
  transform: translateY(-0.25em);
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.Button2 {
  cursor: pointer;
  background-color: #198419;
  color: #EFEFEF;
  transition: 220ms all ease-in-out;
  font-weight: bold;
  border-radius: 8px;

}

.Button3.hover {
  filter: drop-shadow(4px 5px 5px #C3C3C3);
  transform: translateY(-0.25em);
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.Button3 {
  cursor: pointer;
  background-color: #9E0808;
  color: #EFEFEF;
  transition: 220ms all ease-in-out;
  font-weight: bold;
  border-radius: 8px;

}
